source https://nuget.org/api/v2

nuget FSharp.Formatting
nuget FsUnit
nuget NUnit 
nuget NUnit.Runners
nuget FAKE
nuget SourceLink.Fake
nuget CommandLineParser prerelease

github fsharp/FAKE modules/Octokit/Octokit.fsx